[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.2.5"
flask-sqlalchemy = "*"
install = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
mysqlclient = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
